a{
    text-decoration: none;
    color: #616161;
    transition: .3s;
}

a:hover{
    color: #1FD5AD;
}

.products{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap:3.5rem 2rem;
}

.handel__button__decrease{
    background-color: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.handel__button__plus , .handel__button__decrease{
    width: 50px;
    font-size: 1.4rem;
    transition: .3s ease-in-out;  
}

.handel__button__plus:hover , .handel__button__decrease:hover{
    color: #111;
}


.cart__container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.left__side{
    width: 60%;
}
.right__side{
    width: 40%;
}

@media screen and (max-width:1024px){
    
    .cart__container{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .left__side{
        width: 100%;
    }
    .right__side{
        width: 100%;
        position: relative;
    }
}


.show__price{
    display: flex;
    justify-content: space-between;
}

.checkout__cart{
    background-color: #f9f9fb;
    border-radius: .5rem;
    padding: 2rem 3rem;
    width: 100%;
}

@media only screen and (min-width:768px){
    .products{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media only screen and (min-width:1024px){
    .products{
        grid-template-columns: repeat(3 , 1fr);
    }
}


@media only screen and (min-width:1400px){
    .products{
        grid-template-columns: repeat(4 , 1fr);
    }
}