a{
    text-decoration: none;
    color: #616161;
    transition: .3s;
}

a:hover{
    color: #1FD5AD;
}

.products{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap:3.5rem 2rem;
}

.handel__button__decrease{
    background-color: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.handel__button__plus , .handel__button__decrease{
    width: 50px;
    font-size: 1.4rem;
    transition: .3s ease-in-out;  
}

.handel__button__plus:hover , .handel__button__decrease:hover{
    color: #111;
}


@media only screen and (min-width:768px){
    .products{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media only screen and (min-width:1024px){
    .products{
        grid-template-columns: repeat(3 , 1fr);
    }
}


@media only screen and (min-width:1400px){
    .products{
        grid-template-columns: repeat(4 , 1fr);
    }
}