p{
    margin: 0;
}
.active-link{
    color: #1FD5AD;
}

.btn-primary , 
.btn-primary:visited , 
.btn-primary:focus {
    background-color: #1FD5AD;
    border-color: #1fd5ad;
} 

.btn-primary:hover , 
.btn-primary:active {
    background-color: #1fd5aed8;
    border-color: #1fd5ad;
} 

.btn-primary:active:focus ,
.btn-primary:focus
{
   box-shadow: 0 0 2px 1px #1fd5ae86 ;
}

.btn-outline-primary {
    border-color: #1fd5ad;
    color: #1FD5AD;
} 

.btn-outline-primary:hover , 
.btn-outline-primary:active {
    background-color: #1fd5aed8;
    border-color: #1fd5ad;
} 

.btn-outline-primary:active:focus ,
.btn-outline-primary:focus
{
   box-shadow: 0 0 2px 1px #1fd5ae86 ;
}  

.bg-primary{
    background-color: #1fd5ad !important;
}

.text-primary{
    color: #1fd5ad !important;
}
.border-primary{
    background-color: #1fd5ad !important;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #1FD5AD;
    outline: 0;
    box-shadow: 0 0 2px 1px #1fd5ae86 ;
}


